@media (min-width: 768px) {
	:root {
		/* font-sizes */
		--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
		--fs-800: 3.5rem;
		--fs-700: 1.5rem;
		--fs-600: 1rem;
		--fs-500: 1rem;
		--fs-400: 0.9375rem;
		--fs-300: 1rem;
		--fs-200: 0.875rem;
		--fs-100: 0.81rem;

		--nav-height: 110px;
		--logo-width: 120px;
		--footer-height: 140px;
	}

	/* Header Design */
	.logo {
		width: max-content;
	}
	.logo h1 a .logo-image {
		width: 6vw;
	}
	.logo h1 a .logo-text {
		width: 18vw;
	}
	nav {
		width: max(35rem, 50%);
	}
	.navbar > .container {
		width: 100%;
	}
	.hamburger {
		display: none;
	}
	.navMenu {
		display: block;
	}
	/* Tablet Navigation */
	.navMenu li {
		width: calc(100% / 5);
		transition: 0.5s;
	}
	.navMenu a {
		font-weight: 300;
		color: hsl(var(--clr-white));
		padding-bottom: 0.5rem;
		position: relative;
		transition: 0.5s;
	}
	.navMenu a:focus,
	.navMenu a.active,
	.navMenu a:hover {
		font-weight: 500;
		letter-spacing: 1.8px;
	}
	.navMenu a::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 2.4px;
		border-radius: 1.2px;
		background-color: hsl(var(--clr-white));
		left: 0;
		bottom: 0;
		transform: scaleX(0%);
		transform-origin: right;
		transition: transform 0.5s ease-out;
	}
	.navMenu a:hover::after,
	.navMenu a.active::after {
		transform: scaleX(100%);
		transform-origin: left;
	}
	.dropdown-icon {
		position: relative;
		color: hsl(var(--clr-white));
		font-size: 0.8rem;
		left: 5px;
		top: -2px;
	}
	.dropdown-icon i {
		transition: transform 0.5s;
	}

	.has-dropdown ul {
		width: 100%;
		background-color: hsl(var(--clr-primary-blue));
		top: 24px;
		height: max-content;
		margin-top: calc(calc(var(--nav-height) - 24px) / 2);
		z-index: -1;

		opacity: 0;
		visibility: hidden;
		transform: translateY(-50%);
		transition: 0.5s 0.3s;
	}
	.has-dropdown li {
		padding: 0 0 1rem 0;
		width: inherit;
	}
	.has-dropdown:hover .dropdown-icon i {
		transform: rotate(180deg);
	}
	.has-dropdown:hover ul {
		opacity: 1;
		visibility: visible;
		transform: translateY(0%);
		transition: 0.5s;
	}
	/* Control burger */
	/* .hamburger {display: none;} */
	.hamburger span {
		display: none;
	}

	/* Burger Design */
	.hamburger {
		display: none;
	}
	.navMenu {
		display: block;
	}

	/* Footer for tablet */
	footer {
		padding: 0;
	}

	.contact {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		padding: 1.2rem 0;
	}

	.clinic {
		width: 45%;
		margin-bottom: 0;
	}

	.clinic-2 {
		padding-left: 1rem;
	}

	.clinic-name {
		width: 33.33%;
		text-align: left;
		padding-right: 1rem;
	}

	.clinic-content {
		width: 66.67%;
		text-align: left;
	}

	.contact .line {
		display: block;
		width: 2px;
		height: 10vh;
		margin: 0;
		background-color: hsl(var(--clr-primary-yellow));
	}
}
