/* Banner */
.banner-container {
	width: 100%;
	min-height: calc(100vh - var(--nav-height));
	display: grid;
	place-items: center;
}
.banner-container img {
	--img-heght: 450px;
	width: min(81vw, 1280px);
	height: var(--img-heght);
	object-fit: cover;
	object-position: 50% 38%;
}
